* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.revealedGrid,
.hiddenGrid {
    display: grid;
    grid-template-columns: repeat(11, 25px);
}

.gridSquare {
    width: 25px;
    height: 25px;
    outline: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}