* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.revealedGrid,
.hiddenGrid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
}

.gridSquare {
    width: 50px;
    height: 50px;
    outline: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipDiv {
    display: flex;
    flex-direction: column;
}

.ship-icon {
    width: 100px;
    z-index: 9;
}
.alphaDiv {
    position: absolute;
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 660px;

}
.numDiv {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-evenly;
    padding: 10px;
}
.alphaSquare {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.numSquare {
    width: 50px;
    height: 50px;
    text-align: center;
}


#carrierIcon {
    position: absolute;
    left: 550px;
    top: 700px;
}
#battleshipIcon {
    position: absolute;
    left: 550px;
    top: 750px;
}
#destroyerIcon {
    position: absolute;
    left: 550px;
    top: 800px;
}
#submarineIcon {
    position: absolute;
    left: 550px;
    top: 850px;
}
#patrolIcon {
    position: absolute;
    left: 550px;
    top: 900px;
}
.rotate {
    transform: rotate(90deg);
}
.rotate-button {
    position: relative;    
    display: none;
}

.ship-container:hover .rotate-button {
    cursor: pointer;
    display: block;
}
