* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.revealedGrid,
.hiddenGrid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
}

.gridSquare {
    width: 50px;
    height: 50px;
    outline: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridSquare:hover {
    background-color: black;
}

.shipDiv {
    display: flex;
    flex-direction: column;
}

.ship-icon {
    
    z-index: 9;
}
.alphaDiv {
    position: absolute;
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 660px;

}
.numDiv {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-evenly;
    padding: 10px;
}
.alphaSquare {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.numSquare {
    width: 50px;
    height: 50px;
    text-align: center;
}


.revealedGrid #carrierContainer {
    grid-row: 1 / 1;
    grid-column: 1 / 4;
}
#battleship {
    width: 240px;
    position: absolute;
    left: 400px;
    top: 700px;
}
#carrier {
    width: 240px;
    position: absolute;
    left: 400px;
    top: 750px;
}
#destroyer {
    width: 140px;
    position: absolute;
    left: 400px;
    top: 800px;
}
#submarine {
    width: 140px;
    position: absolute;
    left: 400px;
    top: 850px;
}
#patrol {
    width: 90px;
    position: absolute;
    left: 400px;
    top: 900px;
}

.rotate {
    transform: rotate(90deg);
}
.ship-container:hover .rotate-button {
    cursor: pointer;
    display: block;
}
.hide {
    display: none;
}
